name: Deploy to Beta

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
  push:
      branches:
      - 'develop'

env:
  BRANCH: 'FEAture/BRanch123123'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Beta
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@master
        with:
          node-version: '14'
      
      - name: Sanitize
        run: |
          BRANCH=$(echo -n ${{env.BRANCH}} | tr "/" "-" | tr "[:upper:]" "[:lower:]")
          
      - name: test
        run: |
          echo $BRANCH